/* BATARA PROJECT */
.card{
    display:block;
    text-decoration:none;
    color:inherit;
}

.produk-header{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.produk-logo{
    width: 60px;
    height: 60px;
    object-fit: contain;
    flex-shrink: 0;
}

.produk-header h3{
    margin: 0;
}
