/* BATARA PROJECT */
.card{
    display:block;
    text-decoration:none;
    color:inherit;
}
.card{
    display:block;
    text-decoration:none;
    color:inherit;
}

.produk-header{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:15px;
}

.produk-logo{
    width:70px !important;
    height:70px !important;
    max-width:70px !important;
    max-height:70px !important;
    object-fit:contain;
    flex-shrink:0;
}

.produk-header img{
    width:70px !important;
    height:70px !important;
    max-width:70px !important;
    max-height:70px !important;
}

.produk-header h3{
    margin:0;
}
